*{
  margin:   0;
  padding:  0;


}

body{
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 7%;
  margin-bottom: 7%;
  background-color: #2BEDC3;
}

h1{
  color: black;
  font-family: 'Faster One', cursive;
  font-size: 50px;
  text-align: center;
}

h2{
  color: black;
  font-family: 'Times New Roman' sans-serif;
  font-size: 25px;
}

p{
  font-size: 12.5px;
  font-family: 'Times New Roman' sans-serif;
  text-align: center;
}

background{
  background-image: url(https://imgur.com/a/eLmM3);
}
