*{
  margin:   0;
  padding:  0;


}

body{
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 7%;
  margin-bottom: 7%;
  background-color: #2BEDC3;
}

h1{
  color: black;
  font-family: 'Faster One', cursive;
  font-size: 50px;
  text-align: justify;
}

h2{
  color: black;
  font-family: 'Times New Roman' sans-serif;
  font-size: 25px;
  text-align: justify;
}

p{
  font-size: 18px;
  font-family: 'Times New Roman' sans-serif;
  text-align: justify;
  margin-right: 25%;
}

background{
  background-image: url(https://imgur.com/a/eLmM3);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
