*{
  margin:   0;
  padding:  0;


}

body{
  background-color: #2BEDC3;
}

h1{
  color: black;
  font-family: 'Faster One', cursive;
  font-size: 50px;
  text-align: center;
}

p{
  font-size: 12px;
  font-family: 'Times New Roman' sans-serif;
  text-align: center;
}

background{
  background-image: url(https://imgur.com/a/eLmM3);
}
